<h1> Stupid Coach </h1>
<div class = "container">
<form action="/answer">
  <input type="text" name="question">
  <p> Ask your coach anything</p>
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
</div>
